<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body>
    <%- include('partials/navbar') %> 
    
    <h1>The homepage <%= 'helloworld from ejs'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea deserunt mollitia eveniet exercitationem iste laudantium in, odit maiores, consequuntur autem porro error at voluptatem aliquam debitis quia earum. Architecto, animi.</p>

    <h2>head2</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem dignissimos illo perferendis repudiandae eos asperiores dolorem, error sint ut pariatur distinctio minima nihil non illum molestiae impedit. Consequatur, delectus. Amet.</p>
    <%- include('partials/footer') %> 

</body>
</html>